@font-face {
  font-family: 'filemagic-icons';
  font-style: normal;
  font-weight: 400;
  src: font-url('filemagic-icons.woff') format('woff'),
    font-url('filemagic-icons.ttf') format('ttf'),
    font-url('filemagic-icons.eot') format('eot');
  unicode-range: U+E900–U+F000;
}

$fm-icon-plus: '\e905';
$fm-icon-image: '\e90b';
$fm-icon-pencil: '\e911';
$fm-icon-x: '\e917';

%fm-icon-font-config {
  font-family: 'filemagic-icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin fm-icon($icon, $size: 40) {

  &::before {
    @extend %fm-icon-font-config;
    content: $icon;
    font-size: $size + px;
    vertical-align: middle;
  }

}
