$color-primary: #69f;
$color-secondary: hsl(0, 0%, 60%);

.fm-uploader-wrapper {
  position: relative;
}

.fm-uploader {
  border: 2px solid $color-secondary;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.fm-uploader__actions {
  height: 100%;
  position: absolute;
  width: 100%;

  input { // Hide input field
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: .1px;
    z-index: -1;
  }
}

.fm-uploader__drag-text,
.fm-uploader__loader-wrapper,
.fm-uploader__loader-text {
  display: none;
}
