.fm-uploader__img--empty {
  border-style: dashed;
  transition: all .3s;

  .actions__btn-add {
    display: inline-block;
    height: 100%;
    top: 0;
    transition: all .3s;
    width: 100%;

    &::before {
      color: $color-secondary;
      left: 50%;
      margin-top: -30px;
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
    }
  }

  .actions__caption {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  &:hover {
    border-color: $color-primary;

    .actions__btn-add::before {
      color: $color-primary;
      content: $fm-icon-plus;
    }

    .actions__caption {
      color: $color-primary;
    }
  }
}
