@import "definitions"

.filemagic-container
  font-family: 'Lato', Helvetica, Arial, sans-serif
  overflow: hidden
  &, a
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: hsl(0, 0%, 25%)
  *
    box-sizing: border-box
    font-family: inherit

.filemagic-uploader
  background-color: hsl(0, 0%, 98%)
  border: 2px dashed hsl(0, 0%, 60%)
  color: $blue
  display: block
  float: left
  margin: 0
  position: relative
  text-align: center
  transition: all .1s ease, background-size .01s ease

  &:hover
    color: $blue
    border-color: currentColor

  .editor-element-text
    +v-align
    display: none
    font-size: 16px
    height: 20px
    left: 0
    line-height: 16px
    margin: auto
    position: absolute
    top: 50%
    width: 100%
    &.show
      display: block

  .editor-element-text.loader-text
    display: none
    &.show
      display: block

  .status
    position: absolute
    top: -20px
    left: 0

  &.editor-img--drag
    background-color: rgba($blue, .2)
    border-color: $blue
    &:hover, &.hover
      background-color: $blue
      color: $blue-dark
      border-color: $blue-dark

  &.editor-img--dragenter
    background-color: $blue
    color: $blue-dark
    border-color: $blue-dark

  &.editor-img--loading,
  &.editor-img--processing
    background-color: #fff
    &:before
      @include opacity(0.1)
      content: ""
      background-size: cover
      background-position: center
      width: 100%
      height: 100%
      display: block
      position: absolute


  .loader-wrapper
    display: none
    top: -2px
    left: -2px
    &.show
      display: block

  &.editor-img--loading
    .editor-element-text
      content: "42%"
      font-size: 24px

    .loader-wrapper
      width: 100%
      height: 100%
      position: absolute
      display: block

    .loader-border
      box-shadow: 0 0 0 4px rgba(#000, .1) inset
      border-radius: 99px
      width: 100px
      height: 100px
      display: block
      margin: auto
      +v-align

    .loader
      position: relative
      background: transparent
      overflow: hidden
      +v-align

    @include loader('.loader', 5, 100px, transparent, '4px solid #{$blue}')

  &.editor-img--processing
    .editor-element-text
      overflow-x: hidden
      animation: processing 1.5s 0s infinite
      -webkit-animation: processing 1.5s 0s infinite
    @-webkit-keyframes processing
      0%
        width: 76px
      17%
        width: 80px
      33%
        width: 84px
      50%
        width: 88px
      67%
        width: 84px
      83%
        width: 80px
      100%
        width: 76px
    @keyframes processing
      0%
        width: 76px
      17%
        width: 80px
      33%
        width: 84px
      50%
        width: 88px
      67%
        width: 84px
      83%
        width: 80px
      100%
        width: 76px

  .preview
    @include opacity(0.2)
    background-size: cover
    background-position: center
    width: 100%
    height: 100%
    position: absolute
    top: -2px
    left: -2px
    &.show
      display: block

  &.editor-img--done
    border-style: solid
    nav
      @include opacity(0)
      transition: all .2s ease
      background-color: rgba(#fff, .6)
      padding: 30px 50px
      display: table
      margin: auto
      +v-align
      a
        font-weight: 700
        text-transform: uppercase
        display: block
        margin-bottom: 20px
        &:last-child
          color: $red
          margin-bottom: 0
          &:hover
            color: #f66
    &:hover
      border-color: $blue
      nav
        @include opacity(1)

  &.editor-img--done .preview
    -moz-opacity: 1
    opacity: 1

  &.editor-img--done
    &:hover
      &:after
        @include opacity(0.6)
  &.editor-img--done:after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #000
    @include opacity(0)
    pointer-events: none
    z-index: 1
    transition: opacity 0.3s

  .filemagic-filename
    position: absolute
    overflow-wrap: break-word
    word-wrap: break-word

.filemagic-uploader-actions
  height: 40px
  z-index: 5
  position: relative
  &.hide
    display: none

  input[type="file"]
    @include opacity(0)
    cursor: pointer
    height: 100%
    outline: none
    position: relative
    text-align: right
    width: 100%
    z-index: 2

  .filemagic-add-new-button
    transition: all .2s ease
    background: image-url("filemagic/admicon-image.svg") no-repeat center center
    border-radius: 50%
    border: 1px solid hsl(0, 0%, 60%)
    height: 50px
    left: calc(50% - 25px)
    position: absolute
    top: calc(50% - 25px)
    width: 50px
    cursor: pointer


.filemagic-uploader-actions--empty
  height: 100%
  color: hsl(0, 0%, 60%)

.filemagic-uploader-actions--done
  position: relative
  top: calc(50% - 20px)
  input[type="file"]
    height: 50px
    width: 50px
    display: block
    margin: auto auto
    &:hover
      .filemagic-add-new-button
        border-color: $blue

.filemagic-uploader-actions-caption
  font-size: 0.8rem
  line-height: 1.3rem
  position: relative
  top: calc(-50% + 36px)
  &:hover
    color: $blue

.filemagic-uploader:hover
  .filemagic-uploader-actions
    .filemagic-uploader-actions--empty > .filemagic-uploader-actions-caption
      color: $blue
    .filemagic-uploader-actions--done, .filemagic-uploader-actions-caption
      color: #fff
    .filemagic-uploader-actions--empty, .filemagic-add-new-button
      border-color: $blue
    .filemagic-uploader-actions--empty, .filemagic-add-new-button
      background-image: image-url("filemagic/admicon-cross-blue.svg")
    .filemagic-uploader-actions--done, .filemagic-add-new-button, input[type="file"]
      border-color: #fff
      &:hover
        border-color: $blue
    .filemagic-uploader-actions--done, .filemagic-add-new-button
      background-image: image-url("filemagic/admicon-cross.svg")

.filemagic-uploader
  .filemagic-uploader-actions.filemagic-uploader-actions--done
    display: none
  &:hover
    .filemagic-uploader-actions.filemagic-uploader-actions--done
      display: block
      color: #fff




